__Snapshots__
fastlane/screenshots
fastlane/test_output
fastlane/report.xml
fastlane/Preview.html
xcuserdata/
*.xcscmblueprint
*.xccheckout
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/
Dependencies/
iOSInjectionProject/

.swiftlint.yml
.swiftplantuml.yml
diagram_uml.txt
.swiftplantuml2.yml